
button{
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  margin: 20px;
}

.paginator-wrap{
  background-color: black;
  width: fit-content;
  padding: 2vh 4vh 2vh 4vh;
}

.active {
  background-color: #826E2F;
  color: #DFB10B;
  border: none;
}

.infoBtn{
  margin: 0;
}

